@import "./mixin/text";

// @font-face {
//   font-family: "DungGeunMo";
//   src: url(./fonts/korean/DungGeunMo.woff2) format("woff2"),
//     url(./fonts/korean/DungGeunMo.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   unicode-range: U+AC00-D7A3;
// }

// @font-face {
//   font-family: "Sysfont";
//   src: url(./fonts/others/sysfont.woff2) format("woff2"),
//     url(./fonts/others/sysfont.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
// }

:root {
  /* default */
  --scale-white: #fff;
  --scale-black: #000;

  /* basic */
  --scale-gray-200: #eee;
  --scale-gray-300: #ddd;
  --scale-gray-400: #ccc;
  --scale-gray-500: #bbb;
  --scale-gray-600: #999;
  --scale-gray-700: #808080;
  --scale-gray-800: #666;
  --scale-gray-900: #262626;
  --scale-cyan-200: #c2fffe;
  --scale-cyan-300: #5cfffd;
  --scale-cyan-400: #02edeb;
  --scale-cyan-500: #02cfcd;
  --scale-cyan-600: #00adab;
  --scale-cyan-700: #029795;
  --scale-cyan-800: #046261;
  --scale-cyan-900: #023c3c;
  --scale-ivory: #ff9;

  /* variation */
  --scale-blue: #55f;
  --scale-frenchblue: #669;
  --scale-indigo: #0000af;
  --scale-emerald: #00ad00;
  --scale-green: #00ff26;
  --scale-grass: #990;
  --scale-gold: #d0af3e;
  --scale-yellow: #ffff05;
  --scale-copper: #c63;
  --scale-crimson: #b80000;

  /* font */
  --headline-font-size: 2rem;
  --headline-line-height: 2rem;
  --headline-font-weight: 400;
  --body-font-size: 1.5rem;
  --body-line-height: 1.5rem;
  --body-font-weight: 400;

  /* z-index */
  --toast-z-index: 99;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: color("scale-white");
}

* {
  box-sizing: border-box;
}

select {
  appearance: none;

  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div,
input,
textarea,
button,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
