@import "/styles/main.scss";

.mainWrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  @include desktop {
    padding: 48px 80px 80px 80px;
  }

  .title {
    font-weight: 400;
    font-size: 9vw;
    white-space: pre;
    margin: 0;

    @include mobile {
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;
    }

    @include desktop {
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;
    }
  }
}
