@import "/styles/main.scss";

.footerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  user-select: none;
  max-width: 768px;
  margin: 0 -20px;
  bottom: 0;
  
  @include desktop {
    position: initial;
    max-width: auto;
    margin: 0px 0px -64px 0px;
  }

  .footerItem {
    @include text("Body", "scale-gray-800");
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    background-color: color("scale-gray-500");
    width: calc(100% - 11.8rem);

    &.left {
      border-right: 1px solid color("scale-gray-900");

      .marquee {
        overflow: hidden;
        position: relative;

        .description::after {
          content: "";
          white-space: nowrap;
          padding-right: 50px;
        }

        .description {
          margin: 0;
          padding-left: 100%;
          display: inline-block;
          white-space: nowrap;
          animation-name: marquee;
          animation-timing-function: linear;
          animation-duration: 10s;
          animation-iteration-count: infinite;
        }
      }
    }

    &.right {
      border-left: 1px solid color("scale-white");
      padding: 8px 1rem;
      word-break: keep-all;
    }
  }
}
