:root {
  --scale-white: #ffffff;
  --scale-black: #000000;
  
  /* grays */
  --scale-gray-200: #eeeeee;
  --scale-gray-300: #dddddd;
  --scale-gray-400: #cccccc;
  --scale-gray-500: #bbbbbb;
  --scale-gray-600: #999999;
  --scale-gray-700: #808080;
  --scale-gray-800: #666666;
  --scale-gray-900: #262626;

  /* colours */
  --scale-blue-300: #CCCCFF;
  --scale-blue-700: #9A9BCF;
  --scale-blue-900: #333399;
}
