:root {
  --scale-white: #ffffff;
  --scale-black: #000000;

  /* grays */
  --scale-gray-200: #eeeeee;
  --scale-gray-300: #dddddd;
  --scale-gray-400: #cccccc;
  --scale-gray-500: #bbbbbb;
  --scale-gray-600: #999999;
  --scale-gray-700: #808080;
  --scale-gray-800: #666666;
  --scale-gray-900: #262626;

  /* colours */
  --scale-blue-300: #ccccff;
  --scale-blue-700: #9a9bcf;
  --scale-blue-900: #333399;
  --scale-cyan-300: #5cfffd;
  --scale-cyan-600: #00adab;
  --scale-cyan-800: #046261;
  --scale-indigo: #0000af;
  --scale-yellow: #ffff99;
}
