@import "./mixin/text.scss";

// @font-face {
//   font-family: "DungGeunMo";
//   src: url(./fonts/korean/DungGeunMo.woff2) format("woff2"),
//     url(./fonts/korean/DungGeunMo.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   unicode-range: U+AC00-D7A3;
// }

// @font-face {
//   font-family: "Sysfont";
//   src: url(./fonts/others/sysfont.woff2) format("woff2"),
//     url(./fonts/others/sysfont.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
// }

:root {
  --scale-white: #ffffff;
  --scale-black: #000000;

  /* grays */
  --scale-gray-200: #eeeeee;
  --scale-gray-300: #dddddd;
  --scale-gray-400: #cccccc;
  --scale-gray-500: #bbbbbb;
  --scale-gray-600: #999999;
  --scale-gray-700: #808080;
  --scale-gray-800: #666666;
  --scale-gray-900: #262626;

  /* colours */
  --scale-blue-300: #ccccff;
  --scale-blue-700: #9a9bcf;
  --scale-blue-900: #333399;
  --scale-cyan-300: #5cfffd;
  --scale-cyan-600: #00adab;
  --scale-cyan-700: #02a2a0;
  --scale-cyan-800: #046261;
  --scale-indigo: #0000af;
  --scale-yellow: #ffff99;
}

:root {
  --headline-font-size: 2rem;
  --headline-line-height: 2rem;
  --headline-font-weight: 400;

  --body-font-size: 1.5rem;
  --body-line-height: 1.5rem;
  --body-font-weight: 400;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: "DungGeunMo", -apple-system, BlinkMacSystemFont, system-ui,
  //   Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  //   "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  //   sans-serif;
}

body {
  color: color("scale-white");
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
